bin/
chengcache/
chengblecache/
htmldocs/
*.exe
*.nif
*.nifc*
nifc_*
artifacts/hybrid/
artifacts/backend_android/
artifacts/backend_determinism/
artifacts/backend_determinism_strict/
artifacts/backend_exe_determinism/
artifacts/backend_exe_determinism_strict/
artifacts/backend_debug/
artifacts/backend_closedloop/
artifacts/backend_ffi_abi/
artifacts/backend_concurrency_stress/
artifacts/backend_mm/
artifacts/backend_multi/
artifacts/backend_multi_lto/
artifacts/backend_mvp/
artifacts/backend_obj/
artifacts/backend_obj_determinism/
artifacts/backend_obj_determinism_strict/
artifacts/backend_opt/
artifacts/backend_opt2/
artifacts/backend_prod/
artifacts/backend_sanitizer/
artifacts/backend_stress/
artifacts/backend_ssa/
artifacts/backend_targets/
artifacts/backend_targets_matrix/
artifacts/backend_selfhost/
artifacts/backend_self_obj*/
artifacts/cheng_mobile_screen*.png
artifacts/lldb_bt.cmd
artifacts/mobile_xhs_demo.c
artifacts/chengb/
nifc_c/obj/
nifc_c_native/obj/
nifc_c/nifc
.DS_Store
src/hastur
*.txt
/cheng_ide_web
ide/node_modules/
ide/public/bundle.js*
stage1_runner
stage2_runner
stage1_codegen_control
stage1_codegen_expr
stage1_codegen_fullspec
stage1_codegen_hello
stage1_codegen_vars
stage2_runner.bad
stage2_runner.broken
stage2_runner.prev
stage2_runner.stage1
hello_cli
hello_no_call
hello_no_call2
hello_vendor_test
/cheng
/cheng.stage*
examples/test_xor
examples/test_types
examples/test_table
examples/test_strings
examples/test_streams
examples/test_sizeof
examples/test_seqs
examples/test_mem
examples/test_lexer_simple
examples/test_io
examples/test_control
examples/repro
examples/hello
*.log
*temp*
.tmp_cheng_build
test_bitand
test_strings
test_table
test_types
*.pyc
*.py
__pycache__
stage2_runner_asan
stage2_runner_dbg
tmp*
stage1_bootstrap_runner
codex-cheng-bin
.tmp*
test_*
cheng_ifexpr_test
.cheng-cache/
build/ide/recovery/diagnostics.cheng-1723933285.recover
option_none_smoke
nifc_c/
stage1_runner_asan
chengcache/
cache/
nimcache
stage1_runner_new
mobile_build/
dist/backend/
RWAD-blockchain
bootstrap_runner
c_backend_hybrid
c_backend_mixed_c
c_backend_mixed_hybrid
c_backend_modules
libp2p_bootstrap_mod
rwad-chain
rwad_keygen_mod
rwad_keygen_mod_clean16
rwad_security_attestation_mod
synccast_control_smoke
synccast_control_smoke_main_fix1
synccast_control_smoke_main_fix3
synccast_core_smoke
synccast_core_smoke_main_fix1
synccast_media_smoke_main_fix4
synccast_roundtrip_pipe_poison_smoke2
synccast_stream_fallback_smoke_main_fix7
synccast_verify_runner_fix5
mdns_smoke
memorytransport_pipe_smoke
muxer_openstream_smoke
muxer_resource_smoke
connection_pipe_smoke
connection_pipe_smoke_main
connection_pipe_smoke_main_fix4
cheng_libp2p_tests_53e85678ab3e
bufferstream_memory_smoke
*.o
__test*
__obj*
hello_puts_c
artifacts*
cheng_pkg_source
cheng_registry
cheng_storage
probe0
probe_cmdline
probe_cmdline2
probe_cmdline3
probe_cmdline4
probe_cmdline5
probe_cmdline6
probe_cmdline7
probe_cmdline8
probe_cmdline9
probe_cmdline_full
probe_common
probe_group_a
probe_group_b
probe_tmp
backend_obj_fullspec_probe
cheng-min-self
cheng-min-sysrt
cheng-min-test
cheng_libp2p_tests
probe_smoke_runner
probe_tmp_bs
probe_tmp_bs2
probe_tmp_bs3
probe_tmp_bw
probe_tmp_filtered
probe_tmp_onion
probe_tmp_onionpay
probe_tmp_scan
probe_tmp_select
probe_tmp_sig
probe_tmp_testimp
probe_tmp_tool
probe_tmp_types
auto_target_return_add_c
backend_obj_fullspec_min2
cheng_libp2p_probe_coinjoin_a_seed
cheng_libp2p_probe_coinjoin_seg0
cheng_libp2p_probe_coinjoin_seg1
cheng_libp2p_probe_coinjoin_seg1a
cheng_libp2p_probe_coinjoin_seg1b
cheng_libp2p_probe_coinjoin_seg1c
cheng_libp2p_probe_coinjoin_seg1d
cheng_libp2p_probe_coinjoin_seg1e
cheng_libp2p_probe_coinjoin_seg2_init_ctx
cheng_libp2p_probe_coinjoin_seg2b_init_ctx
cheng_libp2p_probe_coinjoin_seg3_packet
cheng_libp2p_probe_coinjoin_unit
cheng_libp2p_probe_coinjoin_verify_copy
cheng_libp2p_probe_mix_unit
cheng_libp2p_tests_probe
cheng_libp2p_probe_coinjoin_ctx_inspect
cheng_libp2p_probe_coinjoin_secret_len
cheng_libp2p_probe_coinjoin_secret_len_kind
cheng_libp2p_probe_coinjoin_steps
cheng_libp2p_probe_hkdf_len
cheng_libp2p_probe_onionpay_regression
cheng_libp2p_probe_mix_integration
cheng_libp2p_probe_bandwidth_smoke
cheng_libp2p_probe_connection_bandwidth_smoke
.gitmodules
.github/
AGENTS.md
docs/cheng-formal-spec.md
cheng_pkg
version_neg_ref_fn.objs/
version_neg_ref_fn
unimaker_mobile_sideprobe
unimaker_mobile_multi_probe
tls_policy_validate_test.bin
transport_bind_test.bin
udp_bind_test
udp_bind_test.bin
udp_parse_test.bin
stage1_codegen_fullspec.objs/
std_probe
std_probe.objs/
sockaddr_test
*.objs/
seq_field_len_smoke
seq_int64_set_smoke
seq_len2_smoke
seq_len_int32_smoke
driver_local
driver_local.o.stamp
driver_local_new.o.stamp
driver_local_new.tmp
driver_local_patch
driver_local_patch.o.stamp
driver_local_patch2
driver_local_patch2.o.stamp
driver_local_safe
driver_regr
driver_regr.o.stamp
driver_regr2
driver_regr2.o.stamp
driver_regr5
driver_regr5.o.stamp
driver_table_overload_new
driver_table_overload_new.o.stamp
export_sink_call_smoke
frame_model_ref_fn
gui_kit_smoke_closed
handles_test.bin
i_core_dbg
index-char-lit-test
index-cmdline-charlit-test
index-cmdline-cmp-test
index-cmdline-cmp-test-ord
index-cmp-bug
index-test
index-test2
m0
metrics_call_smoke
min_codex_all_imports
min_codex_all_imports.o.stamp
min_codex_auth
min_codex_common
min_config_call3
min_join
min_main_direct2
min_main_direct2.o.stamp
min_main_trim
min_main_trim.o.stamp
min_runtime_config
msquic_call_transport
msquic_import_all
msquic_import_smoke_api
msquic_import_smoke_congestion
msquic_import_smoke_driver
msquic_import_smoke_platform
msquic_import_smoke_protocol
msquic_import_smoke_tls
msquic_import_smoke_transport
msquic_import_smoke_validation
msquic_init_smoke
msquic_transport_ref_const
msquic_transport_ref_fn
msquictransport_full_init_call
msquictransport_full_ref_const
multiaddr_call_smoke
multiaddr_tostring_test.bin
packet_header_model_ref_fn
packet_model_ref_fn
pointer_dot_call_test
pointer_field_test
probe_driver
probe_driver.o.stamp
pure_gui_demo
quic_varint_ref_fn
ref10_ge_ref_fn
ref10_ref_const
ref10_ref_curveorder
reg_return_add2
repro_chengc_final
repro_chengc_final2
repro_chengc_final3
repro_remove_stage_runner_chengc
repro_remove_stage_runner_chengc2
return_import_call
rwad_array_field_test
rwad_array_index_var_test
rwad_array_test
rwad_bridge_head_smoke_tmp
rwad_cbor_tx_smoke_dbg
rwad_cbor_tx_smoke_dbg2
rwad_cbor_tx_smoke_dbg3
rwad_cbor_tx_smoke_mvp
rwad_cbor_tx_smoke_tmp
rwad_crypto_smoke
rwad_debug_amount_cast
rwad_debug_credit_calc
rwad_debug_uint64_cast_float
rwad_hash32_op_ptr_test
rwad_probe_driver
rwad_repro_bytes_add_only
rwad_repro_byteseqadd_seqsget
rwad_repro_byteseqget_f1
rwad_repro_cbor_map_ptr_only
rwad_repro_cbor_map_ptr_only2
rwad_repro_cbor_ptr_with_crypto_import
rwad_repro_cbor_sign_doc
rwad_repro_cbor_sign_doc_ptr
rwad_repro_cbor_sign_doc_ptr2
rwad_repro_cbor_sign_doc_ptr_mvp
rwad_repro_cbor_sign_doc_ptr_roundtrip
rwad_repro_cbor_uint2_read_int
rwad_repro_cbor_uint_bytes
rwad_repro_cbor_uint_hex_print
rwad_repro_cbor_uint_read_int
rwad_repro_cbor_uint_read_uint
rwad_repro_crypto_string_to_bytes
rwad_repro_crypto_string_to_bytes2
rwad_repro_doc_field_cbor_ptr
rwad_repro_doc_payload_copy_ptr
rwad_repro_doc_plain
rwad_repro_doc_string_field_ptr
rwad_repro_doc_string_local_ptr
rwad_repro_ed25519_keygen
rwad_repro_ed25519_seeded_keygen
rwad_repro_get_fn_i32
rwad_repro_guess_v
rwad_repro_import_cbor_only
rwad_repro_import_tx_cbor_literal
rwad_repro_import_tx_only
rwad_repro_local_struct_cbor_ptr
rwad_repro_local_struct_crypto_str
rwad_repro_local_struct_crypto_str_clone
rwad_repro_local_struct_crypto_str_local
rwad_repro_local_struct_field_read
rwad_repro_local_struct_payload_read
rwad_repro_local_struct_sender_only_cbor
rwad_repro_seq_dot_len
rwad_repro_seqs_add
rwad_repro_seqs_add_assert_true
rwad_repro_seqs_add_plain
rwad_repro_seqs_add_plain2
rwad_repro_seqs_add_plain_clean
rwad_repro_seqs_add_plain_drv
rwad_repro_seqs_add_plain_off
rwad_repro_seqs_add_plain_rt
rwad_repro_seqs_get_only
rwad_repro_seqs_len_after_add
rwad_repro_step_1
rwad_repro_struct_string_copy_len
rwad_repro_tx_build_only
rwad_repro_tx_decode_sign_doc_step
rwad_repro_tx_encode_abort
rwad_repro_tx_encode_doc_manual
rwad_repro_tx_encode_only
rwad_repro_uint8_hex_literal
rwad_tmp_bp_test
rwad_tmp_cap_test
rwad_tmp_float_literal
rwad_tmp_mod_probe
rwad_tmp_uint_to_float
build/return_add_probe
build/sample_hotspot_test
build/time_emit_exe_backend_driver
charat-test
cheng2.objs.lock/
cheng_len_field_test
cheng_libp2p_mdns_dbg
cheng_rebuild_test
cheng_stable
cheng_storage_dbg
cheng_storage_fix
cheng_storage_fix2
cheng_storage_fix3
cheng_storage_fixtest
cheng_storage_rebuild_clean
cheng_storage_rebuild_stage1
chengc_return_add
chengc_return_add2
chengcache.__pre_clean_test/
clone-concat-test
codex-cheng-bin.o.stamp
connection_call_smoke
curve25519_ref_fn
curve25519_ref_type
curve25519_run_smoke
curve25519_scalar_ref_fn
datapath_test
build/
_compiler
_compiler0
address_bridge_ref_fn
array_field_test
arrow_index_test
backend_mvp_driver
seq_len_int64_smoke
cheng_export_probe2_obj_test
cheng_export_probe3_obj_test
cheng_export_probe3_obj_wp_mvp_test
cheng_export_probe3_obj_wp_test
cheng_export_probe_obj_test
cheng_export_probe_obj_wp_mvp_test
cheng_export_probe_obj_wp_test
cheng_lp2p_probe_obj
cheng_system_helpers_backend_obj_probe
dist/releases/2026-02-06T16_08_31Z_a4d11ef/cheng
